<div class="card">
    <div class="card-header">
        
        
        <a class="btn btn-success" routerLink="/agregar-cliente/" >Agregar nuevo cliente</a>

    </div>
    <div class="card-body">
        <h1>Lista de clientes</h1>
        <div class="table-responsive-xl">
            <table class="table table-danger">
                <thead>
                    <tr>
                        <th scope="col">ID</th>
                        <th scope="col">Nombre</th>
                        <th scope="col">Correo</th>
                        <th scope="col">Direccion</th>
                        <th scope="col">Telefono</th>
                        <th scope="col">Acciones</th>
                    </tr>
                </thead>
                <tbody>
                    <tr >
                        <td></td>
                        <td> </td>
                        <td> </td>
                        <td> </td>
                        <td> </td>
                        <td>
                            <a class="btn btn-info" >Editar</a> /

                            <a class="btn btn-danger"  role="button">Borrar</a>
                        </td>
                    </tr>
                    
                </tbody>
            </table>
        </div>
        
    </div>
    
</div>