<nav class="navbar navbar-expand navbar-light bg-light">
    <div class="nav navbar-nav">
        <a class="nav-item nav-link active" href="#" aria-current="page">Pasteleria <span class="visually-hidden">(current)</span></a>
        <a class="nav-item nav-link" routerLink="listar-empleado" >Listar Empleados</a>
        <a class="nav-item nav-link" routerLink="listar-pastel">Listar Pastel</a>
        <a class="nav-item nav-link" routerLink="listar-cliente">Listar Cliente</a>

    </div>
</nav>
<div class="container">
    
    <router-outlet></router-outlet>
</div>